# Archivos y carpetas de entornos virtuales
venv/
.env
*.env
pip-log.txt
pip-delete-this-directory.txt

# Archivos de configuración locales
*/local_settings.py

# Archivos de base de datos
*.sqlite3
*.db

# Archivos de compilación de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*/__pycache__/

# Archivos de caché y logs
*.log
*.cache
*.DS_Store
*.swp
*.swo

# Archivos de dependencias y build
*.egg-info/
dist/
build/
*.egg
*.lock

# Archivos de claves y credenciales
keys*
config/secrets.json

# Archivos estáticos y de medios
*/staticfiles/
*/media/
node_modules/

# Configuración de IDEs y editores
.vscode/
.idea/
*.sublime-workspace
